{% load static %}
<title>Order registretion form</title>  
<link rel="stylesheet" href="{% static "css/style.css" %}">
<div class="container">
    <div class="title">
        <h2>Order Registration Form</h2>
    </div>
  <div class="d-flex">
        <form action="#" method="POST" class='post-form'>
            {% csrf_token %}  
            {% for meaning, attr in data.items %}
                <label>
                    <span>{{meaning}}<span class="required">*</span></span>
                    <input type="text" name="{{attr}}" placeholder="{{meaning}}">
                </label>
            {% endfor %}
            <button type="submit">Submit Order</button>
        </form>
    </div>
</div>